.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card{
  width: 225px;

}
.card-img{
  width:100%;
  border-radius: 10px;
  
}
.country{
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.card-body{
  padding: 0 0 0 10px !important;
  
}
.card{
  min-height: 100px;
  padding-bottom: 50px;
}
.card-title{
  font-size: 16px !important;
 
}
.card-text{
  font-size: 14px !important;
}
.country{
  margin: 10px 0;
}
.heart-hover{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
  display: flex;
}
.flex1{
  display: flex;
  justify-content: space-between;
}