.nav1{
  background-color: transparent !important;
  height: 80px;
  display:flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}

.jumbotron{
  width: 100vw;
 height: 80vh;
 margin-bottom: 0px !important;
  
}

.tags{
  padding-top: 0;
  border: 0.5px solid gray;
  height: 80px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

h1{
  color: white;
  size: 100px;
}

h4{
  color:white;
}

.btn{
  border-radius: 20px !important;
  margin-left: 5px;
  margin-top: 20px;
  border: 1px solid lightgrey !important;
  background-color: white !important;
  color: white;

}

.btn:hover{
  border: 1px solid black !important;
  background-color: white !important;
}