.nav1{
  background-color: transparent !important;
  height: 80px;
  display:flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}

.jumbotron{
  width: 100vw;
 height: 80vh;
 margin-bottom: 0px !important;
  
}

.tags{
  padding-top: 0;
  border: 0.5px solid gray;
  height: 80px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

h1{
  /* color: white; */
  size: 100px;
}

h4{
  color:white;
}

.btn{
  border-radius: 20px !important;
  margin-left: 5px;
  margin-top: 20px;
  border: 1px solid lightgrey !important;
  background-color: white !important;
  color: white;
}

.btn:hover{
  border: 1px solid black !important;
  background-color: white !important;
}

.title{
  display: flex;
  justify-content: start;
  padding:  24vh 20px ;
}

.card-img{
  width:50%;
  
  border-radius: 10px;
  
}
.country{
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.card-body{
  padding: 0 0 0 10px !important;
  
}
.card{
  margin: 30px;
  min-height: 100px;
  padding-bottom: 50px;
  border: transparent !important;
}
.card-title{
  font-size: 16px !important;
 
}
.card-text{
  font-size: 14px !important;
}
.country{
  margin: 10px 0;
}
.heart-hover{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
  display: flex;
}

.flex1{
  display: flex;
  justify-content: space-between;
}

.explist{
  margin: 0px 30px !important;
  
}

.h1-title{
  color: white;
}